html, body{
	padding: 0;
	margin: 0;
    height: 100%;
    font-family: "Roboto", Helvetica, Arial, sans-serif; 
}
body {
  padding: 0;
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#mapid { 
	margin: 0;
	height: 100%; 
}

.title{
	color: red;
}